<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Item Purchased' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label 'Description of purchase' %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label 'Account name (Discover Card, Master Card ETC)' %><br />
    <%= f.text_field :accounttype %>
  </div>
  <div class="field">
    <%= f.label 'How much did you spend? (Integers Only)' %><br />
    <%= f.number_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit "Create"%>
  </div>
<% end %>
