<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path, :class => "header_button round2" %></li>
      <% if signed_in? %>
        <li><%= link_to "New Transaction", purchase_path(current_user), :class => "header_button round2" %></li>
        <li><%= link_to "Profile", current_user, :class => "header_button round2" %></li>
        <li><%= link_to "Accounts", account_path(current_user), :class => "header_button round2" %></li>
        <li><%= link_to "Users", users_path, :class => "header_button round2" %></li>
        <li><%= link_to "Transactions", transactionall_path, :class => "header_button round2" %></li>
        <li><%= link_to "Settings", edit_user_path(current_user), :class => "header_button round2" %></li>
      <% end %>
      <li><%= link_to "Help", help_path, :class => "header_button round2" %></li>
      <% if signed_in? %>
        <li><%= link_to "Sign out", signout_path, :class => "header_button round2" %></li>
      <% else %>
        <li><%= link_to "Sign in", signin_path, :class => "header_button round2" %></li>
      <% end %>
    </ul>
  </nav>
</header>